.Contectbody{
    width: 100%;
    height: 100vh;
    justify-content: space-between;
    display: flex;
}
.Contect__container1{
    width: 50%;
    height: 100%;
    padding: 120px 0 0 20px;
}
.Contect__container2{
    width: 50%;
    height: 100%;
    padding: 120px 0 0 20px;

}
.contecttext{
    font-size: 30px;
    font-weight: 700;
    color: #002B52;
}

.Resume{
    display: inline;
}

.Intro1 {
    display: inline;
}

.Intro2 {
    display: inline;
}

@media screen and (max-width:768px) {
    .Contectbody{
        margin: 0px;
        padding: 0px;
        width: 100%;
        height: 100%;
        flex-direction: column;
    }
    .contecttext{
        font-size: 30px;
        font-weight: 700;
        color: #002B52;
        padding-left: 15px;
    }
    .Resume {
        width:160%;
        height:150%;
        padding-left: 10px;
    }

    .Intro1{
        width:160%;
        height:150%;
        padding-left: 10px;
    }

    .Intro2{
        width:160%;
        height:150%;
        padding-left: 10px;
    }
}