.instaContainer{
    width: 100%;
    height: 100vh;
    display: flex;
    overflow: auto;
    flex-direction: row;
    justify-content: space-between;
}

.back{
    color:#ADADAD;
    font-size: 12px;
    font-weight: 400;
    height: 20px;
    text-decoration: none;
    margin: 75px 5px 0 15px;
}


.Instacontents {
    width: 30%;
    height: 560px;
    margin: 120px 20px 0 20px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgreen;
}

.Instatitle{
    font-size: 20px;
    color: #034783;
    font-weight: 700;
}

@media screen and (max-width:768px) {
    .instaContainer{
        width: 100%;
        height: 100vh;
        display: flex;
        overflow: auto;
        flex-direction: column;
        padding: 30px 20px 20px 20px;
        background-color: lightskyblue;
    }

    .back{
        color:#ADADAD;
        font-size: 12px;
        font-weight: 400;
        height: 20px;
        text-decoration: none;
        margin: 75px 5px 0 30px;
    }
    .Instacontents {
        width: 400px;
        align-items: center;
        justify-content: center;
        background-color: lightgreen;
    }
    
}