.instaContainer{
    width: 100%;
    height: 100vh;
    display: flex;
    overflow: auto;
    flex-direction: row;
    justify-content: space-between;
    
}

.back{
    color:#ADADAD;
    font-size: 12px;
    font-weight: 400;
    height: 20px;
    text-decoration: none;
    margin: 75px 5px 0 15px;
}


.Instacontents {
    width: 30%;
    height: 580px;
    margin: 70px 20px 5px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.Instatitle{
    font-size: 20px;
    color: #034783;
    font-weight: 700;
}
.InstaPro{
    margin: 5px 0 5px 5px;
}
.Name{
    font-weight: 700;
    color: black;
    font-size: 10px;
    margin-left: 5px;
    line-height: 5px;
}

.InstaCompo{
    width: 300px;
    height: 550px;
    box-shadow: 6px 6px 18px rgba(24, 65, 101 ,.15);
    margin:5px 0 0 10px;
    border-radius: 10px;
}

.InstaImg{
    width: 300px;
    height: 280px;
    background-color: blueviolet;
}
.InstaImgNav{
    width: 300px;
    height: 30px;
    padding: 5px 5px 5px 5px;
    justify-content: space-between;
    background-color: cadetblue;
}
.Hash{
    margin: 5px 5px 0 5px;
}
.InstaDate {
    color:#ADADAD;
    font-size: 12px;
    font-weight: 400;
    text-decoration: none;
    margin:10px 0 10px 5px;
}

@media screen and (max-width:768px) {
    .instaContainer{
        width: 100%;
        height: 100vh;
        display: flex;
        overflow: auto;
        flex-direction: column;
        padding-top: 40px;
    }

    .back{
        color:#ADADAD;
        font-size: 12px;
        font-weight: 400;
        height: 20px;
        width: 30px;
        text-decoration: none;
        margin: 80px 5px 0 35px;
    }
    .Instacontents {
        width: 400px;
        align-items: center;
        justify-content: center;

    }
    
}