.contentsbox{
    width: 390px;
    height: 230px;
    padding: 10px 10px 10px 10px;
    flex-direction: row;
    align-items: center;
    display: flex;
    font-size: 16px;
    border-radius: 10px;
    border: solid #BBDBF0 6px;
    box-shadow: 6px 6px 18px rgba(24, 65, 101 ,.15);
}
.contentsbox2{
    width: 390px;
    height: 165px;
    padding: 10px 10px 10px 10px;
    flex-direction: row;
    display: flex;
    align-items: center;    
    font-size: 16px;
    border-radius: 10px;
    border: solid #BBDBF0 6px;
    box-shadow: 6px 6px 18px rgba(24, 65, 101 ,.15);
}
.contentsbox3{
    width: 320px;
    height: 230px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: solid #BBDBF0 6px;
    box-shadow: 6px 6px 18px rgba(24, 65, 101 ,.15);
}
.contentsbox4{
    width: 320px;
    height: 165px;
    padding: 10px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    border-radius: 10px;
    border: solid #BBDBF0 6px;
    box-shadow: 6px 6px 18px rgba(24, 65, 101 ,.15);
}

.left{
    font-weight: 400;
    width: 120px;
    text-align: left;
    line-height: 25px;
 
}

.left2{
    font-weight: 400;
    width: 120px;
    text-align: left;
    line-height: 15px;
}
.right{
    margin-left: 40px;
    width: 200px;
    text-align: right;
    font-weight: 400;
    line-height: 30px;
}
.righ2{
    margin-left: 40px;
    width: 150px;
    text-align: right;
    font-weight: 400;
    line-height: 30px;
}

.instatext {
    color:#ADADAD;
    font-size: 12px;
    font-weight: 400;
    text-decoration: none;
}
.instatext a:hover{
    font-weight: 700;
}

@media screen and (max-width:768px) {
    .contentsbox{
        width: 390px;
        height: 230px;
        padding: 10px 10px 10px 10px;
        font-size: 16px;
        border-radius: 10px;
        border: solid #BBDBF0 6px;
        box-shadow: 6px 6px 18px rgba(24, 65, 101 ,.15);
    }
    .contentsbox2{
        width: 390px;
        height: 165px;
        padding: 10px 10px 10px 10px;
        font-size: 16px;
        border-radius: 10px;
        border: solid #BBDBF0 6px;
        box-shadow: 6px 6px 18px rgba(24, 65, 101 ,.15);
        
    }
    .contentsbox3{
        width: 320px;
        height: 230px;
        padding: 50 px 10px 50px 10px;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        border-radius: 10px;
        border: solid #BBDBF0 6px;
        box-shadow: 6px 6px 18px rgba(24, 65, 101 ,.15);
    
    }
    .contentsbox4{
        width: 320px;
        height: 165px;
        padding: 10px 10px 10px 10px;
        align-items: center;
        font-size: 16px;
        border-radius: 10px;
        border: solid #BBDBF0 6px;
        box-shadow: 6px 6px 18px rgba(24, 65, 101 ,.15);
    }
}