.App {
  text-align: center;
  margin: 0;
  padding: 0;
  align-items: center;
}

bady {
margin: 0;
padding: 0 ;
overflow : auto;
background-color: #f9f9f9;
}

.nav { 
  position: fixed;
  top: 0.2s ease-in-out;
  left: 0;
  right: 0;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  padding: 0 15px 0 15px;

}

.navlogo{
  align-items: flex;
  width: 175px;
  height: 50px;
  display: left;
  align-items: center;
}

.navmenu {
  position: relative;
  display: flex;
  width: 556px;
  font-size: 20px;
  
}

.navmenu a {
  text-decoration: none;
  right: initial;
  color : #184165;
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0 30px 0 30px; 
}
.navmenu a:hover {
  color: #6BB4DD;
}

.active {
background-color: #BBDBF0;
}



@media screen and (max-width:768px) {
  .nav {
      position: fixed;
      top: 0.2s ease-in-out;
      left: 0;
      right: 0;
      flex-direction: column;
      align-items: flex-start;
      padding: 15px 15px 0 15px;
      margin: 0;
      background-color: #f9f9f9;
      height: 100px;
  }
  .navlogo{
      align-items: flex;
      width: 175px;
      height: 50px;
      display: left;
      background-color: darkred;
      margin-left: 20px;
  }
  .navmenu { 
      left: initial;
      align-items: center;
      width: 100%;
  }
  .navmenu a {
      flex-direction: flex;
      text-decoration: none;
      color : #184165;
      font-weight: 400;
      text-transform: uppercase;
      margin: 10px 20px 0 20px;

  }
}